*{
    box-sizing: border-box;
    font-family: Raleway;
}

/*Global Attributes*/

body{
    margin: auto;
    padding: 0;
    height: auto;
}
.middle-of-page-section,
.bottom-of-page-section,
.footer-section{
    margin-top: 32px;
    
}

h2{
    font-weight: 900;
}

/*LOGOS AND NAVIGATION*/


.logo{
    display: flex;
    align-items: center;
    float:left;
    width: 100%;
}
.navigation{
    display: flex;
    float: right;
    font-size:16px;
    gap: 48px;
    justify-content: flex-end;
    width: 100%;
}
.navigation-link{
    font-weight: 800;
    line-height:80px;
    padding: 32px;
    color: grey;
}
.navigation-link:hover{
    border-top: 4px solid #0065fc;
    color:#0065fc
}
a{
    color: #0065fc;
    text-decoration: none;
}
.top-of-page{
    display: flex;
    margin: 0 96px;
    justify-content: space-around;
}

/* Page Title and Subtitle*/
.page-title-and-subtitle{
    margin: 32px 96px;
}




/* SEARCH BAR!!!!!*/


.fa-location-dot{
    background-color: #f2f2f2;
    border-radius: 11.2px 0 0 11.2px;
    font-size: 16px;
    padding: 16px;
    text-align: center;
    width: 56px;
}
.search-row{
    display: flex;
    flex-direction: row;
    margin: 32px 96px;
    width: 320px;
}
.search-box{
    border: solid 1px #f2f2f2;
    border-right-color: white;
    border-left-color: white;
    font-weight: 900;
    font-size: 16px;
    width: 100%;
}
.search-button{
    align-content: center;
    background-color:#0065fc;
    border-left-color: white;
    border-radius: 0 11.2px 11.2px 0;
    cursor: pointer;
    display: flex;
    font-weight: 800;
    font-size: 16px;
    padding: 16px;
    width: 96px;
    color:white;
}
.fa-magnifying-glass{
    visibility: visible;
    position: relative;
    padding-left: 10px;
}

 
/*FILTERS!!!!!!*/


.filter-border{
    align-items: center;
    border-radius: 48px;
    border: solid 3px #f2f2f2;
    color: black;
    display: inline-flex;
    font-size: 20px;
    padding: 0 24px;
}
.filter-border:hover{
    background-color: #deebff;
    border: solid 1px #0065fc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.filter-icon{
    align-items: center;
    background-color: #deebff;
    border-radius: 60%;
    color: #0065fc;
    display: flex;
    float: left;
    height: 50px;
    justify-content: center;
    margin: 0 1px 0 -24px;
    min-width: 50px;
    position: relative;
}
.filter-row{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 52.8px;
    margin: 32px 96px;
    width: auto;
}
.filter-text{
    font-weight: 900;
}


/* INFORMATION */

.information{
    font-weight: lighter;
    margin: 32px 84px;
    padding: 1.5px;
}
.info-icon{
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    color: #0065fc;
    padding: 3px 10px;
}

.hotels{
    display: flex;
    width: auto;
    margin: 32px;
    
}

/* ACCOMMONDATIONS */

.hotels1{
    background-color: #f2f2f2;
    width: 881px;
    height: 621px;
    margin: 48px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    display: inline-block;
}
.accommondations-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 15px;
    margin: auto;
    justify-content: space-evenly;
}
.accommondations-card{
    background-color: white;
    border:solid white 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s ease;
    height: 196px;
    width: 233px;
    cursor: pointer;
    position: relative;
    justify-content: center;
}
.accommondations-card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.accommondations-card img{
    border-radius: 24px 24px 0 0;
    height: 112px;
    width: 225px;
    object-fit: cover;
    position: relative;
}
.accommondations-header{
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;
}
.accommondations-header-text{
    margin-left: 48px;
    font-weight: 1000;
}
.accommondations-card-text{
    color: black;
    line-height: 0px;
}

/* MOST POPULAR!!!!!!! */

.hotels2{
    width: 421px;
    height: 621px;
    display: inline-block;
    margin: auto;
}
.fa-chart-line{
    align-self: center;
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}
.most-popular-card{
    background-color: white;
    border: solid white 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    height: 152px;
    width: 330px;
    transition:0.5s ease;
    cursor: pointer;
}
.most-popular-card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.most-popular-card img{
    border-radius: 20px 0 0 20px; 
    height: 140px;
    width: 122px;
    object-fit: cover; 
    position: relative; 
}
.most-popular-card-text{
    object-fit: cover;
    height: 130px;
    position: relative;
    color: black;
    float: right;
    width: 195px;
}
.most-popular-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 512px;
    justify-items: center;
}
.most-popular-header{
    display: flex;
    justify-content: flex-start;
}
.most-popular-header-text{
    margin-left: 48px;
}
.most-popular-background{
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 621px;
    width: 421px;
    position: relative;
}

/* ACTIVITIES IN MARSEILLE!!!!!!!!!! */

.column-2{
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: auto;
}
.column-4{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.activities-container{
    display: flex;
    height: auto;
    gap: 32px;
    justify-content: center;
    width: 1322px;
    margin: 32px 80px;
}
.activities-container a{
    color: black;
}
.activities-container h3{
    line-height: 16px;
    margin: 8px 16px;
}
.activities-header{
    margin: 32px 96px;
    position: relative;
}
.activities-background{
    border-radius: 24px;
    margin: 32px 96px;
    width: 100%;
    height: auto;
}
/* ACTIVITIES IN MARSEILLE CARDS!!!!! */

.activitycard{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: auto;
    width: 380px;
    transition: 0.5s ease;
    cursor: pointer;
}
.activitycard:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.activitycard img{
    border-radius: 24px 24px 0px 0px;
    height: 90%;
    width: 100%;
}

.old-port-card img{
    height: 90%;
    object-fit: cover;
    position: relative;
    width: 100%;
}
.pomegues-card{
    height: 230px;
    width:300px;
}
.pomegues-card img{
    height: 75%;
    object-fit: cover;
    position: relative;
    width: 100%;
}
.frioul-card{
    height: 175px;
    width: 300px;
}
.frioul-card img{
    height: 75%;
    object-fit: cover;
    position: relative;
    width: 100%;
}
.calanques-card img{
    height: 90%;
    object-fit: cover;
    position: relative;
    width: 100%;
}
.notre-dame-card{
    height: 187px;
    width: 300px;
}
.notre-dame-card img{
    height: 75%;
    object-fit: cover;
    position: relative;
    width: 100%;
}
.longchamp-card{
    height: 196px;
    width: 300px;
}
.longchamp-card img{
    height: 75%;
    object-fit: cover;
    position: relative;
    width: 100%;
}



/* FOOTER!!!!!!!!!!!!!!*/

.footer{
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
}

.row {
	display: flex;
	justify-content: space-around;
    margin-right: 48px;
}

.footer a {
	color: black;
}

.footer a:hover {
	font-weight: 800;
	text-decoration-line: underline;
}

/* STAR AND LINK COLORS!!!!!!!!! */
.bluestar{
    color: #0065fc;
}

.greystar{
    color:#f2f2f2;
}

.card-link{
    color: black;
}
.showmore, .showmore a{
    color: black;
    margin-left: 32px;
    width: 100%;
    padding: 8px;
}



/* MEDIA QUERIES!!!!!!!!!!!!!!!!!! */



/* SMALL SCREEN LAPTOPS!!!!!!!!!!! */
@media all and (max-width: 1439px) and (min-width: 769px){
    .accommodations-background {
		height: auto;
		margin: auto;
		padding-bottom: 64px;
        justify-content: center;
	}

	.accommodations-card {
		width: 640px;
	}
    .hotels1{
        width: 95%;
        margin: auto;
    }
    

	.activitycard,
	.old-port-card,
	.pomegues-card,
	.frioul-card,
	.calanques-card,
	.notre-dame-card,
	.longchamp-card {
		height: 320px;
		width: 750px;
	}

	.activitycard img {
		height: 85%;
	}

	.activities-background {
		height: auto;
		margin: auto;
		width: 95%;
	}

	.activities-container {
		align-items: center;
		flex-direction: column;
		gap: 32px;
		height: auto;
        padding-left: 10px;
        width: auto;
        margin: auto;
	}

	.activities-header {
		height: auto;
        margin: 32px 32px;
	}
    

	.column-2,
	.column-4 {
		gap: 2em;
		margin-bottom: 3em;
	}

	.hotels {
        display: flex;
		flex-direction: column-reverse;
        gap: 32px;
        align-content: center;
        margin: 32px auto;
	}
    .hotels2{
        width: 95%;
    }
	.most-popular-background {
		height: auto;
		margin: auto;
		width: 100%;
	}

	.most-popular-card {
		width: 640px;
	}

    .most-popular-card img{
        width: 400px;
    }
    .most-popular-card-text{
        align-items: center;
        width: 225px;
    }

	.navigation {
		align-items: flex-end;
		gap: 8px;
	}

	.top-of-page,
	.page-title-and-subtitle,
	.search-row,
	.filter-row,
	.information {
		margin: 32px auto;
		width: 95%;
	}

	.logo {
		width: 50%;
	}

  
}







/* TABLETS!!!!!!!!!!!!!!!! */
@media only screen and (max-width: 768px) and (min-width: 481px){
    .top-of-page,
    .page-title-and-subtitle,
    .search-row,
    .information{
        margin: 32px auto;
        width: 95%;
    }
    .filter-row{
        flex-wrap: wrap;
        height: auto;
        margin: 32px 16px;
        width: 100%;
    }
    .logo{
        width: 50%;
    }
    .navigation{
        align-items: flex-end;
        gap: 1px;
    }
    .hotels{
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
        justify-content: center;
        margin: 32px 16px;
    }
    .accommondations-header-text{
        margin-left: 60px;
    }
    .activities-container{
        flex-direction: column;
        gap: 32px;
    }
    .activities-header{
        margin: 32px 16px;
    }
    .accommondations-card img{
        width: 450px;
    }
    .accommondations-container{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: auto;
        margin: auto;
    }
    
    .accommondations-background,
    .most-popular-background{
        border-radius: 16px;
        height: auto;
        margin: auto;
        width: auto;
        gap: 4px;
    }
    .activities-container,
    .most-popular-container{
        align-items: center;
        height: auto;
        width: auto;
    }
    .activitycard,
    .most-popular-card{
        width: 464px;
        margin: auto;
    }
    .accommondations-card{
        margin: auto;
        width: auto;
    }
    .hotels1{
        width: 95%;
        margin: 32px 16px;
        height: auto;
    }
    .hotels2{
        width: 100%;
    }
    .most-popular-card img{
        width: 175px;
    }
    .most-popular-card-text{
        width: 200px;
    }
    .activitycard,
    .old-port-card,
    .pomegues-card,
    .frioul-card,
    .notre-dame-card,
    .longchamp-card{
        height: 240px;
    }
    .activitycard img{
        height: 85%;
    }
    .activitycard h3{
        line-height: 16px;
    }
    .column{
        margin: 0 32px;
    }
    .column-2,
    .column-4{
        gap: 32px;
        height: auto;
    }
    .most-popular-card-text{
        width: 272px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
}

/* MOBILE!!!!!!!!!!! */


@media screen and (max-width: 480px){
    .accommondations-background,
    .activities-background,
    .most-popular-background,
    .filter-row,
    .information,
    .search-row,
    .page-title-and-subtitle{
        height: auto;
        margin: 8px auto;
        width: 100%;
    }
    .top-title-and-subtitle {
		margin: 8px auto;
		padding: 4px;
		text-align: center;
	}

	.top-of-page {
		display: grid;
		grid-template-rows: 96px 96px;
        margin: auto;
	}
    .navigation {
		gap: 2px;
		height: 96px;
		justify-content: center;
		margin: auto;
		width: 100%;
        padding-left: 50px;
        color: black;

	}
    .navigation-link{
        width: 235px;
        align-items: center;
    }
    /* .navigation-link-mobile:hover {
		position: relative;
		top: 4px;
		border-bottom: #0065fc solid 4px;
        text-decoration: underline;
	} */
    .navigation-link:hover {
		border-top: none;
		font-size: 12px;
        border-bottom: #0065fc solid 4px;
	}
    .logo{
        position: relative;
        left: 135px;
        top: 48px;
        width: 64px;
        padding-left: 60px;
    }
    .page-title-and-subtitle {
		margin: 32px 16px;
		padding: 4px;
	}
    .search-button{
        border-radius: 16px 16px 16px 16px;
        width: 20%;
    }
    .fa-magnifying-glass{
        visibility:visible;
		position: relative;
        align-content: center;
        width: auto;
        padding-right: 8px;
    }
    .search-row{
        margin: 32px 16px;
        width: 95%;
    }
    .filter-row{
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 16px;
        margin: 32px 8px;
    }
    .information-row {
		margin: 32px 16px;
		padding: 16px;
	}
    .info-text {
		display: inline-flex;
		justify-content: center;
		margin-left: 8px;
		width: 80%;
	}
    .hotels{
        display: flex;
        flex-direction: column-reverse;
        margin: 32px 8px;
        width: 100%;
    }
    .hotels1{
        align-items: center;
        background-color: white;
        height: auto;
        margin: 32px 8px;
        width: auto;
    }
    .hotels2{
        height: auto;
    }
    .most-popular-card{
        width: 350px;
    }
    .most-popular-background{
        height: auto;
        margin: 0 auto;
        width: 95%;
    }
    .most-popular-card-text{
        align-items: center;
    }
    .accommondations-background{
        height: auto;
        margin: 32px 8px;
        width: 95%;
    }
    .accommondations-container{
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .accommondations-card{
        width: 375px;
        display: flex;
        flex-direction: column;
    }
    .accommondations-card img{
        width: 365px;
    }
    .accommondations-header-text{
        margin: 32px 8px;
        width: auto;
    }
    .old-port-card img,
    .calanques-card img{
        height: 75%;
    }
    .old-port-card,
    .calanques-card{
        height: 186px;
        width: 335px;
    }
    .pomegues-card,
    .frioul-card,
    .notre-dame-card,
    .longchamp-card{
        height: 186px;
        width: 335px;
    }
    .activities-header{
        margin: 32px 32px;
        width: auto;
    }
    .activities-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin: 32px 16px;
    }
    .column{
        margin: 8px;
    }
    .column-2,
    .column-4{
        gap: 32px;
    }
    .footer{
        width: 100%;
        margin: auto
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}   